<html>
<head>
    <meta charset="UTF-8">
    <title>layout</title>
</head>
<body>
<script>
    require(['!this.js'], $$.load)
</script>
</body>
</html>
<script data-name="this.htm" type="text/html">
    <div>
        <div class="head_box">
            <div class="inner wrp">
                <h1 class="logo"><a href="/" title="微信公众平台"></a></h1>
                <div class="main-nav">
                    <el-menu :default-active="activeIndex2" class="el-menu-demo" mode="horizontal">
                        <el-menu-item index="1">首页</el-menu-item>
                        <el-menu-item index="3">社区</el-menu-item>
                        <el-menu-item index="2"><a href="#">系统</a></el-menu-item>
                    </el-menu>
                </div>
                <div class="account">
                    <div class="account_meta account_info account_meta_primary">
                        <div class="nickname">
                            <a>李靖</a>
                            <div id="accountArea" class="account_meta account_inbox account_meta_primary">
                                <a href="" class="account_inbox_switch">2条未读</a>
                            </div>
                            <div class="account_meta account_logout account_meta_primary">
                                <a id="logout" href="">退出</a>
                            </div>
                        </div>
                        <span class="type_wrp">超级管理员</span>
                        <a>
                            <img src="https://avatars2.githubusercontent.com/u/16190010?v=3&s=460" class="avatar">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="cell_layout">
                <div class="col_side">
                    <el-menu mode="vertical" :default-active="menu" class="el-menu-vertical-demo">
                        <el-menu-item-group v-for="list in data" @click.native="item" :title="list.title">
                            <el-menu-item :index="value.id" v-for="(value,index) in list.child" @click="go(value.uri)">
                                {{value.title}}
                            </el-menu-item>
                        </el-menu-item-group>
                    </el-menu>
                </div>
                <div class="col_main">
                    <div class="main_hd"><h2>头部提示</h2></div>
                    <div class="main_bd">
                        <div class="float_layout">
                            <div class="global_info">
                                <div class="search_bar">
                                    <el-input placeholder="姓名/身份证号" icon="search" v-model="input2"
                                              :on-icon-click="handleIconClick">
                                    </el-input>
                                </div>
                            </div>
                            <div class="global_extra">
                                <el-button type="primary" icon="edit">新增</el-button>
                                <el-button>导入</el-button>
                                <el-button>导出</el-button>
                            </div>
                        </div>
                        <div class="table_wrp">
                            <el-table :data="tableData" style="width: 100%">
                                <el-table-column prop="name" label="老人姓名" width="100"></el-table-column>
                                <el-table-column prop="sex" label="性别" width="99" sortable></el-table-column>
                                <el-table-column prop="birth" label="出生日期" width="120"></el-table-column>
                                <el-table-column prop="card" label="身份证号" width="170"></el-table-column>
                                <el-table-column prop="address" label="地址" width="250"></el-table-column>
                                <el-table-column prop="tag" label="标签" width="90"
                                                 :filters="[{ text: '正常', value: '正常' }, { text: '异常', value: '异常' }]"
                                                 :filter-method="filterTag" filter-placement="bottom-end">
                                    <template scope="scope">
                                        <el-tag :type="scope.row.tag === '正常' ? 'success' : 'danger'" close-transition>
                                            {{scope.row.tag}}
                                        </el-tag>
                                    </template>
                                </el-table-column>
                                <el-table-column label="操作" width="100">
                                    <template scope="scope">
                                        <el-button @click="handleClick('查看')" type="text" size="small">查看</el-button>
                                        <el-button type="text" size="small" @click="handleClick('编辑')">编辑</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script data-name="this.js">
    require('$');
    module.exports = {
        template: require('!this.htm'),
        loaded: function () {
            $$.m = {
                activeIndex2: '2',
                data: [
                    {
                        "id": 2,
                        "pid": 1,
                        "title": "布局",
                        "description": "",
                        "sort": 0,
                        "uri": "/sys/home/index",
                        "child": [
                            {
                                "id": 3,
                                "pid": 2,
                                "title": "表格1",
                                "description": "",
                                "sort": 0,
                                "uri": "layout"
                            },
                            {
                                "id": 4,
                                "pid": 2,
                                "title": "表格2",
                                "description": "",
                                "sort": 0,
                                "uri": "table2"
                            },
                            {
                                "id": 5,
                                "pid": 2,
                                "title": "表格3",
                                "description": "",
                                "sort": 0,
                                "uri": "table3"
                            },
                            {
                                "id": 6,
                                "pid": 2,
                                "title": "表格4",
                                "description": "",
                                "sort": 0,
                                "uri": "table4"
                            }
                        ]
                    },
                    {
                        "id": 11,
                        "pid": 10,
                        "title": "组件",
                        "description": "",
                        "sort": 0,
                        "uri": "",
                        "child": [
                            {
                                "id": 12,
                                "pid": 11,
                                "title": "表单",
                                "description": "",
                                "sort": 0,
                                "uri": "form"
                            },
                            {
                                "id": 14,
                                "pid": 11,
                                "title": "树形",
                                "description": "",
                                "sort": 0,
                                "uri": "tree"
                            },
                            {
                                "id": 15,
                                "pid": 11,
                                "title": "角色管理",
                                "description": "",
                                "sort": 0,
                                "uri": "role"
                            },
                            {
                                "id": 16,
                                "pid": 11,
                                "title": "用户管理",
                                "description": "",
                                "sort": 0,
                                "uri": "user"
                            }
                        ]
                    }
                ],
                tableData: [{

                    name: '王小虎',
                    sex: '男',
                    birth: '2016-05-03',
                    mobile: '182339969612',
                    address: '上海市普陀区金沙江路 1518 弄',
                    card: '411802********3452',
                    tag: '正常'
                },
                    {
                        name: '杨涛涛',
                        sex: '女',
                        birth: '2016-05-03',
                        mobile: '182339969612',
                        address: '上海市普陀区金沙江路 1518 弄',
                        card: '411802********3452',
                        tag: '异常'
                    }],
                currentPage1: 1,
                input2: '',
                menu: 4
            };
        },
        methods: {
            go: function (val) {
                location.href = '/sys/index/' + val + '.html';
            },
            item: function () {
                console.log('sss')
            },
            handleClick: function (ret) {
                console.log(ret);
            },
            handleSizeChange: function (val) {
                console.log('每页' + val + '');
            },
            handleCurrentChange: function (val) {
                console.log('当前页: ' + val);
            },
            handleIconClick: function (ev) {
                console.log(ev);
            },
            filterTag: function (value, row) {
                return row.tag === value;
            }
        }
    };
</script>